<a href="https://colab.research.google.com/github/Vimala02/Customer-Conversion-Prediction/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a = 3
b = 5

In [5]:
##built-in max() function.
print(max(a,b))

5

In [6]:
## Factorial of a num
Factorial = 1
for i in range(1,b+1):
  Factorial *= i
print(Factorial)

120

In [21]:
n = input('num:')

num:12

In [17]:
from logging import info
##to check Armstrong Number
# n = 153
s = 0
for i in str(n):
  s += int(i)**(len(str(n)))
if str(s) == n:
  print('Armstong')
else:
  print('na')

num:153
Armstong

In [23]:
##prime number list
def prime(x, y):
    prime_list = []
    for i in range(x, y):
        if i == 0 or i == 1:
            continue
        else:
            for j in range(2, int(i/2)+1):
                if i % j == 0:
                    break
            else:
                prime_list.append(i)
    return prime_list
starting_range = 2
ending_range = 7
lst = prime(starting_range, ending_range)
if len(lst) == 0:
    print("There are no prime numbers in this range")
else:
    print("The prime numbers in this range are: ", lst)

The prime numbers in this range are:  [2, 3, 5]

In [31]:
#n-th Fibonacci number Using Recursion
#Fn = Fn-1 + Fn-2
## non negative

def fibo(n):
  if n == 1:
    return 0
  elif n == 2:
    return 1
  else:
    return fibo(n-1)+fibo(n-2)

print(fibo(10))

34

In [61]:
##sum of Square and cube :
n = 4
s = 0
c = 0
for i in range(1,n+1):
  s += i*i
  c += i*i*i
print(s,c)

30 100

In [66]:
#if a String is Palindrome or symentrical
#reverse of a string
s = input()
half = len(s)//2
s1 = s[:half]
s2 = s[half:]
if s == s[::-1]:
  print('palindrome')
elif s1==s2:
  print('symentrical')
else:
  print('na')

khokho
symentrical

In [ ]:
a = [10, 20, 30, 40, 50]

# Using a temporary variable
# to swap elements at index 2 and 4
temp = a[2]
a[2] = a[4]
a[4] = temp

print(a)